.ProjectPage{
    background-color: rgb(175, 170, 170);
    height: 98%;
    border-radius: 15px;
    min-width: 1330px;
    display: flex;
    flex-direction: column;
}

.FirstLine{
    height: 10%;
    width: 100%;
}

.SecondLine{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
}