.MainPage_rest {
    background-color: rgb(175, 170, 170);
    height: 100%;
    border-radius: 15px;
    min-width: 1230px;
    padding: 24px 32px;
    /* box-sizing: border-box; */
}
.Block1 {
    width: 100%;
    margin-bottom: 24px;
}

@media (max-width: 1400px) {
    .MainPage_rest {
        min-width: auto;
        padding: 20px;
    }
}

@media (max-width: 900px) {
    .MainPage_rest {
        padding: 16px;
        border-radius: 0;
    }
}

