.Projects{
    height: 30%;
    width: 98%;
    margin-top: 1%;
    margin-left: 1%;
    display: flex;
    justify-content: center;
    min-height: 230px;
}
.Projects_background{
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
.Projects_top{
    font-size: 25px;
    width: auto;
    height: 10%;
    margin: 1%;
    display: flex;
    align-items: center;
    position: relative;
}
.Project_create_button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 10%;
  background-color: rgb(255, 192, 45);
  border: 2px solid black;
  font-size: 20px;
  border-radius: 12px;
  margin-left: 80%;
}
.Project_content{
    height: 70%;
    width: auto;
    background-color: rgb(238, 232, 232);
    margin: 1%;
    overflow-y: auto;
    border-radius: 15px;
}
.TO_DOES_Project{
    display: flex;
    align-items: center;
    height: 40%;
    width: 98%;
    background-color: white;
    margin: 1%;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
}
.TO_DOES_Project_button{
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 25px;
    background-image: url("/src/Images/file_button.png");
    border: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: rgb(255, 248, 232);
    flex-shrink: 0;
}
.TO_DOES_Project_name{
    font-size: 20px;
    margin-right: 10px;
    flex: 0 0 60%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.TO_DOES_Project_percent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    height: 40px;
    width: 50px;
    border-radius: 15px;
    background-color: rgb(255, 248, 232);
    flex-shrink: 0;
}
.TO_DOES_Project_percent_background_line{
    height: 10px;
    width: 25%;
    margin-right: 10px;
    background-color: rgb(238, 232, 232);
    border-radius: 15px;
    flex-shrink: 0;
    position: relative;
}
.TO_DOES_Project_percent_line{
    height: 100%;
    width: var(--percent);
    background-color: rgb(248, 211, 143);
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
}
.actions-menu {
    margin-left: auto;
    flex-shrink: 0;
}
.No_projects{
    height: 30%;
    width: 30%;
    font-size: 20px;
    margin-left: 45%;
}
.no_items{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20px;
}

