.Header{
    display: flex;
    align-items: center;      
    width: 100%;
    min-height: 70px;
    max-height: 70px;
}
.dash_button{
    width: 4%;
    height: 85%;
    background-image: url("/src/Header/photo/sidebar_button.png");
    background-size: contain; 
    background-position: center;
    border: none;
    background-repeat: no-repeat;
    object-fit: contain;
    background-color: white;     
}
.message_button{
    width: 2%;
    height: 45%;
    margin: 15px;
    margin-right: 50px;
    margin-left: 100px;
    border-radius: 35px;
    background-image: url("/src/Header/photo/bell.avif");
    background-size: contain;
    background-position: center;
    border: none;
    background-repeat: no-repeat;
    object-fit: contain;
    background-color: white;
}
.dashboard{
    font-size: 20px;
    margin: 15px;
    margin-left: 30px;
    margin-right: 27%;
    text-decoration: none;
    color: black;
}
.search_box{
  position: relative;
  height: 50%;
  width: 25%;
}
.search{  
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 0 45px 0 15px;
    background-color: rgb(224, 219, 219);
    border: none;
    outline: none;
}
.search_button{
  position: absolute;
  left: 102%;
  top: 50%;
  transform: translateY(-50%);
  width: 10%;
  height: 90%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url("/src/Header/photo/search_button.png");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
}
.profile_name{
    margin-left: 50%;
    width: 100%;
    height: 15%;
   font-size: 20px;
    line-height: 1.2;
    white-space: nowrap;
}
.profile_image{
    margin-left: 30%;
    height: 100%;
    width: 30%;
    border-radius: 25px;
}
.profile{
    margin-left: 10%;
    height: 90%;
    width: 20%;
    display: flex;
    align-items: center;
}
.Change_box{
  width:25%;
  height:30%;
  background-color: rgb(221, 217, 217);
  border-radius: 20px;
  position: absolute;
  right: 15%;
  top: 8%;

  z-index: 9999;
}
.Change_top{
    width: 95%;
    height: 20%;
    font-size: 25px;
    margin-left: 6%;
}
.No_changes{
    width: 100%;
    height: 100%;
    margin-top: 50%;
    margin-left: 50%;
}
.Change_context{
    width: 100%;
    height: 80%;
    overflow-y: auto;
}
.change_message_box{
    width: 90%;
    height: 40%;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 5%;
    border-radius: 20px;
    background-color: white;
    border: 2px solid black;
}
.change_message{
    width: 80%;
    height: 20%;
    font-size: 25px;
    margin-top: 1%;
    margin-left: 1%;
}
.change_time{
    width: 80%;
    height: 20%;
    margin-top: 1%;
    font-size: 20px;
    margin-left: 1%;
}