.ScrolShell{
    height: 150px;
    width: 98%;
    margin-top: 6px;
    margin-left: 1%;
    display: flex;
    justify-content: center;
    min-height: 120px;
}
.ScrolShell_background{
    background-color: white;
    height: 104%;
    width: 100%;
    border-radius: 15px;
}
.ScrolShell_top{
    font-size: 16px;
    width: auto;
    height: auto;
    margin: 6px;
    display: flex;
    align-items: center;
    position: relative;
}
.ScrolShell_create_button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 110px;
    background-color: rgb(255, 192, 45);
    border: 2px solid black;
    font-size: 14px;
    border-radius: 10px;
    margin-left: auto;
}
.ScrolShell_content{
    height: auto;
    max-height: 112px;
    width: 98%;
    background-color: rgb(238, 232, 232);
    margin: 6px;
    /* max-height: 26vh; */
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 12px;
}
